{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container">

        <a href="{{ path('test_delete') }}">ok</a>
        <div style="border: 1px solid darkblue">
            {% for key, value in server %}
                <p>{{ key }}: {{ value|e }}</p>
            {% endfor %}
        </div>
        <div style="border: 1px solid red">
            {% for key, value in env %}
                <p>{{ key }}: {{ value|e }}</p>
            {% endfor %}
        </div>

    </section>
{% endblock %}
{% block javascripts %}{% endblock %}
